[Unit]
Description=Jeeves Host Side Actor
After=network.target

[Service]
User=root
WorkingDirectory=/home/maint/docker-setup/jeeves
ExecStart=/home/maint/docker-setup/jeeves/jeeves/actor/actor --rmq-addr redis://localhost:55512 --script-dir /home/maint/docker-setup/jeeves/scripts
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
