[Unit]
Description=Jeeves Host Side Actor
After=network.target

[Service]
User=root
WorkingDirectory=/home/maint/docker-setup/jeeves/jeeves/actor
ExecStart=/usr/bin/python3 main.py --commfile /home/maint/docker-setup/jeeves/comm/fifo
Restart=always

[Install]
WantedBy=multi-user.target
